# Data types

### Strings

In [ ]:
print("Hello"[0])

- akan muncul H pada console karena ***[0]*** akan memanggil object pertama pada *Hello*
- Dalam programming angka <font color = lime>tidak dimulai dari 1</font>,melainkan 0

In [ ]:
print("Hello"[4])

- akan memanggil object ke-5 karena object python dimulai dari 0 (0,1,2,3,4)
- penulisan angka yang disertai " " tidak akan dianggap sebagai number format oleh python melainkan dianggap string biasa

In [ ]:
print("123" + "345")

- akan menghasilkan text 123345 instead penambahan biasa karena angka disertai quotes ("") dan python akan menganggapnya sebagai text (string)

### Integer
adalah tipe data untuk menyatakan format yang kita pakai adalah "number" tanpa decimal

In [ ]:
print(123 + 345)

- akan menghasilkan penjumlahan dari kedua angka tersebut
- dalam python large integer / koma dalam angka besar bisa menggunakan underscore "_"

In [ ]:
1_200_000 # untuk menggantikan angka 1,200,000

### Float
adalah tipe data untuk menyatakan angka desimal

Dalam python kita bisa memakai titik "." sebagai pengganti koma

In [ ]:
3.1456

### Boolean
Hanya ada dua data dalam stype ini

In [ ]:
True
False